In [1]:
a = 3
b = 5
a,b

(3, 5)

In [2]:
a,b = 3,5
a,b

(3, 5)

In [3]:
a = b = 3
a,b

(3, 3)

In [4]:
a = 3
b = 5
c = a * 5
c

15

In [5]:
a += b
# a = a + b
a

8

In [7]:
a = True
a

True

In [8]:
b = False
b

False

In [9]:
a = 3
a

3

In [10]:
a = 3.5
a

3.5

In [11]:
a = 3
b = 5
a / b

0.6

In [12]:
a = 3
b = 5
a ** b

243

In [13]:
a = 3
b = 5
a % b

3

In [14]:
a = b = 5
a % b

0

In [15]:
a = 3
b = 5
(2 + a) * (a+b)

40

In [16]:
'this is a string!'

'this is a string!'

In [17]:
"this is also a string"

'this is also a string'

In [18]:
"He said he's here"

"He said he's here"

In [26]:
'But I said "I didn\'t see you there"'

'But I said "I didn\'t see you there"'

In [28]:
"He said he's here. " + 'But I said "I didn\'t see you there"'

'He said he\'s here. But I said "I didn\'t see you there"'

In [29]:
[1,2,3]

[1, 2, 3]

In [30]:
["a", "b", 1,2,3]

['a', 'b', 1, 2, 3]

In [31]:
a = ["a", "b", 1,2,3]

In [32]:
a.append("c")

In [33]:
a

['a', 'b', 1, 2, 3, 'c']

In [35]:
[1,2,[3,4,5]]

[1, 2, [3, 4, 5]]

In [36]:
a = [1,2,3]
a

[1, 2, 3]

In [38]:
a[1]

2

In [39]:
a = [1, 2, [3, 4, 5]]

In [41]:
a[2][1]

4

In [42]:
a[1][1]

TypeError: 'int' object is not subscriptable

In [43]:
a[0:2]

[1, 2]

In [44]:
a[0:3]

[1, 2, [3, 4, 5]]

In [45]:
a = [1,2,3,4,5]
a[:3]

[1, 2, 3]

In [46]:
a[2:]

[3, 4, 5]

In [47]:
a = [1,2,3,4,5]
a[2] = 10
a

[1, 2, 10, 4, 5]

In [48]:
# Python sets
a = {1,2,3}
a

{1, 2, 3}

In [49]:
type(a)

set

In [50]:
b = {1,2,3,3,4,5} # set elements are unique elements
b

{1, 2, 3, 4, 5}

In [51]:
set([1,2,3])

{1, 2, 3}

In [52]:
a = [1,2,2,3,3,4,5]
a

[1, 2, 2, 3, 3, 4, 5]

In [53]:
set(a) # create a set from a list, also nice that it cleans out duplicates

{1, 2, 3, 4, 5}

In [55]:
{1,2,3} == {3,2,1} #sets are not ordered

True

In [56]:
[1,2,3] == [3,2,1] #Lists are ordered

False

In [57]:
a = (1, 2, 3, 4, 5)
a

(1, 2, 3, 4, 5)

In [58]:
a[0]

1

In [60]:
a[0] = 1 # you cannot reassign values in a tuple

TypeError: 'tuple' object does not support item assignment

In [61]:
# Dictionary - collections of key, value entries; known as associative arrays
a = {
    'b':0,
    'c':5
}
a

{'b': 0, 'c': 5}

In [63]:
a['b'], a['c']

(0, 5)